* {
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

header, footer {
background: orange;
height: 50px;
margin: 10px 0;
}

nav {
    background: yellow;
    height: 50px;
    margin: 10px 0;
}

section {
    background: darkgray;
    float: left;
    width: 50%;
    
}

article {
    background: lightblue;
    padding: 10px;
    width: 50%;
    height: 200px;
    
}
div {
    background: green;
    padding: 5px;
}
aside {
    background: aquamarine;
    float: left;
    width: 50%;
    height: 200px;
}
