header {
background-color: blue;
}

nav {
background-color: green;
}

section {
background-color: yellow;
}

article {
background-color: red;
}

div {
background-color: grey;
}

aside {
background-color: orange;
}

footer {
background-color: brown;
}


